/* // delete the following line if no text is used
// edit the line if you wanna use other fonts */

/* // use only the available space inside the 400x400 frame */
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;			
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background: #131615;
	color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: red;
	position: relative;
	overflow: hidden;
}

.sky {
	width:200px;
	height: 140px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: skyblue;
    animation: sky-animation 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}
.ground {
	width:200px;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: burlywood;
   
    animation: ground-animation 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.sun {
	width: 20px;
	height: 20px;
	background-color: orange;
	top: 60px;
	border-radius: 50%;
	left: 40px;
	z-index: 1;
	position: absolute;
    animation: sun-animation 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;

}

.left-side{
	clip-path: polygon(0% 100%,50% 50%,100% 100%);
	width: 100px;
	height: 100px;
	position: absolute;
	top: 40px;
	left: 60px;
	z-index: 14;
	background-color: bisque;
    animation: side-animation 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.right-side{
	position: absolute;
    top: 90px;
    left: 110px;
    height: 50px;
    width: 50px;
	z-index: 16;
    clip-path: polygon(0% 0%, 30% 100%, 100% 100%);
    background: #DDDADA;
    animation: side-animation 4s cubic-bezier(0.4, 0, 0.49, 1) infinite reverse	;

}

.shadow{
    position: absolute;
    top: 140px;
    left: 16px;
    height: 30px;
    width: 200px;
    background: #272C34;
    opacity: 0.2;
    z-index: 2;
    clip-path: polygon(40px 0%, 145px 0%, 80% 100%);
    transform-origin: 50% 0%;
    animation: shadow-animation 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}




@keyframes side-animation{
    0%{
        background: #272C34;
    }
    30%{
        background: #F4F4F4;
    }
    70%{
        background: #DDDADA;
    }
    100%{
        background: #272C34;
    }
}

@keyframes sky-animation{
    0%{
        background: #272C34;
    }
    30%{
        background: #7DDFFC;
    }
    70%{
        background: #7DDFFC;
    }
    100%{
        background: #272C34;
    }
}

@keyframes ground-animation{
    0%{
        background: #272C34;
    }
    30%{
        background: #F0DE75;
    }
    70%{
        background: #F0DE75;
    }
    100%{
        background: #272C34;
    }
}

@keyframes sun-animation{
    0%{
        transform: rotate(-70deg);
        background: orange;
    }
    30%{
        transform: rotate(-28deg);
        background: #FFEF00;
    }
    70%{
        background: #FFEF00;
    }
    100%{
        transform: rotate(70deg);
        background: orange;
    }
}

@keyframes shadow-animation{
    0%{
        transform: scaleY(0);
        clip-path: polygon(36px 0%, 145px 0%, 100% 100%);
    }
    30%{
        transform: scaleY(1);
        clip-path: polygon(36px 0%, 145px 0%, 80% 100%);
    }
    55%{
        transform: scaleY(0.5);
    }
    75%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
        clip-path: polygon(36px 0%, 145px 0%, 0% 100%);
    }
}